{% extends "base.html.twig" %}

{% block page_title %}Mise à jour d'une colonne{% endblock %}

{% block page_content %}
    <div>
        <form method="post" action="{{ route('mettre_a_jour_colonne') }}">
            <fieldset>
                <h3>Modification d'une colonne :</h3>
                <p>
                    <label for="nomColonne">Nom de la colonne&#42;</label> :
                    <input type="text" placeholder="KO" name="nomColonne" id="nomColonne" minlength="1" maxlength="50" value='{{ colonne.titreColonne }}' required>
                </p>
                <input type='hidden' name='idColonne' value='{{ colonne.idColonne }}'>
                <p>
                    <input type="submit" value="Modifier la colonne">
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}
